html, body {
    height: 100%;
}
body {
    background-color: #999;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#7c7c7c+0,000000+100 */
    background: #7c7c7c; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  #7c7c7c 0%, #000000 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover,  #7c7c7c 0%,#000000 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center,  #7c7c7c 0%,#000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7c7c7c', endColorstr='#000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.calculator {
    background: #494848;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 0 6px 0 #a1a1a1, 0 8px 10px rgba(0, 0, 0, 0.75);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
    width: 300px;
    height: 425px;
    font-size: 30px;
    text-align: center;
}
.screen {
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.5), inset 0px 2px #a1a1a1;
    background-color: antiquewhite;
    color: #353535;
    margin: 8px 0 20px 10px;
    width: 90%;
    height: 50px;
    line-height: 50px;
    padding: 10px;
    font-family: 'Share Tech Mono', monospace;
    font-size: 36px;
    text-align: right;
    overflow: hidden;
}
.calcBtn {
    font-size: 30px;
    padding: 0;
    margin: 5px;
    background-color: #7c7c7c;
    width: 55px;
    height: 55px;
    border-radius: 5px;
    box-shadow: 0 2px 0 #a5a5a5, 0 2px 5px #a1a1a1 ;
}
.calcBtn.high {
    height: 121px;
    width: 55px;
}
.calcBtn.zero {
    width: 130px;
}
.calcBtn:active {
    position: relative;
    top: 5px;
    box-shadow: none;
}
.topLine {
    margin: 1px;
}
.numPad {
    width: 219px;
    position: absolute;
    left: 17px;
}
.plusEqual {
    width: 78px;
    position: absolute;
    right: 16px;
}
.bottomLine {
    width: 219px;
    position: absolute;
    left: 17px;
    bottom: 15px;
}
.sign {
    color: rgba(0, 0, 0, 0.5);
    font-size: 0.75rem;
    font-family: 'Dancing Script', cursive;
    position: absolute; 
    bottom: -5px;
    right: 21px;
    padding: 5px;
}